.lg-err,
.rg-err{
  color: #FF8000;
}
.hide{
  display: none;
}
.disabledBtn{
  background-color: gray;
}
button{
  background-color: white;
}
/*로그인 및 회원가입 페이지 디자인*/
img {
  width: 85%; 
  height: 85%;
}
.box1 {
  margin-bottom: 480px;
  padding-bottom: 100px;
  padding-top: 99px;
  padding-right: 0px;
  margin-right: 370px;
  padding-left: 231px;
  padding-right: 231px;
  margin-top: 10px;
  border: 3px solid #ecc4ca;
  border-radius: 50px;
  font-size: 25px;
  float: left;
  margin: 100px;
  flex: 1;
  overflow: hidden;
}
.box2 {
  margin-top: 10px;
  padding-top: 90px;
}
.grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
/*'로그인' 버튼 디자인*/
.lg-submit {
  border: none;
  color: white;
  padding: 8px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  background-color: #008CBA;
}
/*'확인', '취소' 버튼 디자인*/
.rg-submit {
  border: none;
  color: white;
  padding: 8px 13px;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  background-color: #008CBA;
}
.rg-cancel {
  border: none;
  color: black;
  padding: 8px 13px;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  background-color: #e7e7e7;
}