body{
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    font-size: 50px;
    text-align: center;
    margin: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 0px;
    background-color: RGB(0,32,96);
    font-style: oblique;
    font-weight: bold;
}
p{
    display: grid;
    font-size: 17px;
    text-align: right;
    padding-right: 30px;
    background-color: RGB(0,32,96);
    font-style: oblique;
    margin: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 5px;
}
#login #join{
    display: inline;
}
#grid{
    display:grid;
    grid-template-columns: 150px 1fr;
}
#grid li{
    display: block;
    border: 1px solid black;
    margin: 20px;
    padding: 20px 70px;
    width: 90px;
    height: 40px;
    font-size: 20px;
    font-style: oblique;
    text-align: center;
}
#grid #grid2{
    padding-left: 200px;
    padding-top: 20px;
    padding-right: 20px;
}
li:hover{
    background-color: RGB(208,220,240);
}