doctype html
head
  meta(charset='utf-8')
  title ON Study
  link(rel='stylesheet' type='text/css' href='/stylesheets/layout.css')
header
  h1.header-title ON STUDY
  .header-login
    span.notLogined
      a(href='/users/login') login
      |  | 
      a(href='/users/register') register
    span.logined
      a.username user
      |  | 
      a(href='/users/logout') logout
.nav_section
  nav
    button(onclick="location.href='/live'") Live
    button(onclick="location.href='/todolist'") To Do List
    button(onclick="location.href='/dday'") D-Day
    button(onclick="location.href='/whitenoise'") White Noise
  section
    block content
script(src='/scripts/layout.js')