extends layout

block content
  span Watch : 
  input.li-watchUsername(type='text' placeholder='username')
  button.li-watchBtn -&gt;
  br
  span Host 
  button.li-hostBtn -&gt;
  script(src='/scripts/live-index.js')