extends layout

block content
  h1.wh-title 자연 백색소음 ASMR
  .grid
    .box
      .soundbox(onclick="window.open('https://www.youtube.com/watch?v=bAyyZeAaii4','_blank');")
        p 빗소리 백색소음
        img(src='/img/rain.jpg', alt='no_image')
      .soundbox(onclick="window.open('https://www.youtube.com/watch?v=WlObjbUPLps&list=PLXRLrpkaZYHbzGE1NNBwxNVSQnGfdR7-p&index=3','_blank');")
        p 장작소리 백색소음
        img(src='/img/fire wood.jpg', alt='no_image')
    .box
      .soundbox(onclick="window.open('https://www.youtube.com/watch?v=_yBvLRI4plY&list=PLXRLrpkaZYHbzGE1NNBwxNVSQnGfdR7-p&index=23','_blank');")
        p 바람소리 백색소음
        img(src='/img/wind.jpg', alt='no_image')
      .soundbox(onclick="window.open('https://www.youtube.com/watch?v=X66fLliWRgg&list=PLXRLrpkaZYHbzGE1NNBwxNVSQnGfdR7-p&index=2','_blank');")
        p 밤의 숲소리 백색소음
        img(src='/img/night forest.jpg', alt='no_image')
  h1.wh-title(style='margin-top: 45px') 학습 목적에 따른 뇌파소리 (Hz)
  .grid
    .box
      .soundbox(onclick="window.open('https://youtu.be/RIelZ7wT2eM','_blank');")
        p 6Hz 장기기억력 관련
        p -외울것이 많은 암기과목 공부용/복습용
        img(src='/img/6Hz.jpg', alt='no_image')
      .soundbox(onclick="window.open('https://youtu.be/aK8RXTQIb5s','_blank');")
        p 15Hz 새정보를 받아들이는 작업기억관련
        p -새로운 과목/수학등 문제풀이 및 독해용/시험보기 전 정리
        img(src='/img/15Hz.jpg', alt='no_image')
    .box
      .soundbox(onclick="window.open('https://youtu.be/vok6xmB1QEg','_blank');")
        p 12Hz 집중력 관련
        p -장시간 공부해야하는 과목공부용
        img(src='/img/12Hz.jpg', alt='no_image')
      .soundbox(onclick="window.open('https://youtu.be/zY2H-Fk3p20','_blank');")
        p 18Hz 빠르고 강한 집중시 사용
        p -수학등 문제풀이/독해용/계획세우기/순간기억
        img(src='/img/18Hz.jpg', alt='no_image')
  link(rel='stylesheet', type='text/css', href='/stylesheets/whitenoise.css')
  